<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.discovery.dao.mysql.IActivityDao">

    <insert id="addActivity" parameterType="com.study.discovery.model.Activity">
        insert into activity(username,description,time)
        values(#{username},#{description},#{time})
    </insert>

    <select id="getActivityList"  resultType="com.study.discovery.model.Activity">
        select * from activity order by time desc limit 10
    </select>

</mapper>